@use '../../style/vars.scss' as *;

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &__name {
        max-width: $xtra-large;
        margin: $small;
        font-size: $medium-small-text;
        line-height: $medium-text;
        color: $contrast1;
        text-align: right;
        @media screen and (max-width: 768px) {
            max-width: $large;
            font-size: $xtra-small-text;
            line-height: $small-text;
            margin: 0px $small;
        }
    }
    &__image {
        width: calc(2 * $medium);
        height: calc(2 * $medium);
        border-radius: $medium;
        @media screen and (max-width: 768px) {
            width: $medium;
            height: $medium;
        }
    }

}