@use 'vars.scss' as *;

.collapse {
    width: 100%;
    background-color: $light-background;
    @include small-radius;
    container: collapse / inline-size; //declaration raccourcie du contexte de containnement
    &__head {
        width: 100%;
        padding: $xtra-small;
        background-color: $contrast1;
        @include small-radius;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $brightest;
    }
    &__title {
        font-size: $medium-text;
        @container collapse (max-width: 700px) {
            font-size: $medium-small-text;
        }
        @container collapse (max-width: 500px) {
            font-size: $xtra-small-text;
        }
    }
    &__icon {
        font-size: $big-text;
        transition: transform 0.4s ease;
        transform: rotate(0deg); //position par défaut du chevron
        @container collapse (max-width: 700px) {
            font-size: $medium-text;
        }
        @container collapse (max-width: 500px) {
            font-size: $small-text;
        }
        &--open {
            transform: rotate(180deg); //chevron vers le bas à l'ouverture
        }
    }
    &__content {
        font-size: $medium-small-text;
        line-height: $medium-text;
        @container collapse (max-width: 500px) {
            font-size: $xtra-small-text;
            line-height: $small-text;
        }
        //était initial caché, nécessaire pour la transition
        padding-left: $small;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.2s ease, opacity 0.2s ease;
        &--open {
            padding: $small;
            max-height: 500px;
            opacity: 1;
        }
    }
}