@use 'vars.scss' as *;

.housing {
    margin-top: $medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start ;
    &__title {
        margin-bottom: $small;  
        color: $contrast1;      
        font-size: $big-text;
        font-weight: 500;
    }
    &__location {
        font-size: $medium-small-text;
    }
    &__host {
        margin-right: calc($xtra-small / 2);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.details {
    margin-bottom: $large;
    display: flex;
    flex-direction: row;
    gap: calc(2 * $medium);
    &__container {
        width: 50%;
    }
}