@use 'vars.scss' as *;

.review {
    display: flex;
    flex-direction: row;
    gap: $xtra-small;
    &__star {
        color: $support1;
        font-size: $medium-text;
        @media screen and (max-width: 768px) {
            font-size: $small-text;
        }
        &--active {
            color: $contrast1;
        }
    }
}