//-----init global vars
//colors
$darkest: #000000;
$brightest: #ffffff;
$contrast1: #FF6060;
$contrast2: #C4C4C4;
$support1: #E3E3E3;
$light-background: #F6F6F6;
//spacings
$xxtra-large: 140px;
$xtra-large: 100px;
$large: 50px;
$medium: 30px;
$small: 20px;
$xtra-small: 10px;
//font-sizes
$xtra-big-text: 48px;
$big-text: 36px;
$medium-text: 24px;
$medium-small-text: 18px;
$small-text: 14px;
$xtra-small-text: 12px;
$smallest-text: 10px;