@use '../../style/vars.scss' as *;

.tagsList {
    margin: $small 0px;
    display: flex;
    align-items: center;
    gap: $xtra-small;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
        margin: $xtra-small 0px;
    }
}